@using IssueTracker.Models
@model Project

@{
    ViewBag.Title = "Edit Project";
}

<h2>Edit Project</h2>

@{LoginManager mana = new LoginManager();
string name = mana.GiveMeLoged(CookieManager.GetCookie("UserCookie"));
if (name == null)
{
    <h2>You can @Html.ActionLink("Login Here", "Index", "Home").</h2>
}
else
{
    using (@Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Project name", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "margin:7px" })
                @if (ViewBag.NotValidName != null)
                {
                    <p style="margin:7px;color:crimson"> @ViewBag.NotValidName </p>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10" style="height:200px">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "height:200px;margin:7px" })

            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="SAVE IT!" class="btn btn-default" />
        </div>
    }
}}
