@using IssueTracker.Models
@model Issue

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Issue</h2>

@using (@Html.BeginForm())
{
    @Html.Hidden("IssueID", Model.ID)
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Issue name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "margin:7px" })
            @if (ViewBag.NotValidName != null)
            {
                <p style="margin:7px;color:crimson"> @ViewBag.NotValidName </p>
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IssueState, "Issue type", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.AllStates, new { @class = "form-control", @style = "margin:7px" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AssignedTo, "Assigned to", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("AssignedTo", (IEnumerable<SelectListItem>)ViewBag.AllEmplo, new { @class = "form-control", @style = "margin:7px" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FinishedDate, "Finished Date", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @Html.TextBoxFor(m => m.FinishedDate, "dd-MM-yyyy",new { @class = "form-control", @style = "margin:7px" })
            @if (ViewBag.NotValidDate != null)
            {
                <p style="margin:7px;color:crimson"> @ViewBag.NotValidDate </p>
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" style="height:200px">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @style = "height:200px;margin:7px" })

        </div>
    </div>
    
    <div class="form-group">
        <input type="submit" value="SAVE IT!" class="btn btn-default" />
    </div>
}