@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Issue id 2</h4>
<p>@ViewBag.OneIssue.ToString()</p>

<h4>IsNew issue</h4>
@foreach (var item in ViewBag.IsNewIssue)
{
    <p>@item.ToString()</p>
}
<h4>error issue</h4>
@foreach (var item in ViewBag.ErrorIssue)
{
    <p>@item.ToString()</p>
}
<h4>project num 3</h4>
@foreach (var item in ViewBag.ProjectIssue)
{
    <p>@item.ToString()</p>
}
<h4>is new project 3</h4>
@foreach (var item in ViewBag.StateProject)
{
    <p>@item.ToString()</p>
}