@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Diskuse issue1</h4>
@foreach (var item in ViewBag.SearchComments1)
{
   
        <p>Jmeno: @item.Diskuter |Obsah: @item.Content |Vlozeno: @item.Added  | Order> @item.Order</p>
   
}
<h4>Diskuse issue6</h4>
@foreach (var item in ViewBag.SearchComments6)
{

    <p>Jmeno: @item.Diskuter |Obsah: @item.Content |Vlozeno: @item.Added  | Order> @item.Order</p>

}
