@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Projekt s id 1</h4>
<p>
    @ViewBag.Project.ToString()
</p>

<h4>Vsechny projekty</h4>
@foreach (var item in ViewBag.AllProjects)
{
    <p>
        @item.ToString()
    </p>
}

<h4>Vsechny projekty klienta fj</h4>
@foreach (var item in ViewBag.ClientProject)
{
    <p>
        @item.ToString()
    </p>
}

<h4>  ViewBag.ShoudBeTrue @ViewBag.ShoudBeTrue</h4>
<h4>  ViewBag.ShoudBeFalse @ViewBag.ShoudBeFalse</h4>